@import url('https://fonts.googleapis.com/css?family=Kurale|Tangerine');

.noten-freesia-outer {
  background-image: url("https://i.imgur.com/XMEvgVD.png");
  padding-top: 2em;
  padding-bottom: 2em;
}

.noten-freesia-inner {
  font-family: "Kurale", serif;
  width: 50%;
  background: white;
  margin: 0 auto;
  color: black;
  padding: 1em;
  border: 5px double #FFF5BE;
}

.noten-freesia-title {
  font-family: "Tangerine", handwriting;
  font-size: 38px;
  color: #653E7B;
}

.noten-freesia-speech {
  color: #653E7B;
}