@import url('https://fonts.googleapis.com/css?family=Kurale|Tangerine|Megrim|UnifrakturMaguntia|Fredericka+the+Great|Dosis|Lato');

/* New Universal Template */

.noten-universal-box {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  background-color: #363636;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  display: block;
  padding: 1.25rem;
  font-size: 14pt;
  margin-right: 30%;
  margin-left: 30%;
}

.noten-character-lavatera {
  color: #cc5de8;
}

.noten-character-dandelion {
  color: #fcc419;
}

.noten-character-freesia {
  color: #fcc419;
}

.noten-character-bluebell {
  color: #4263eb;
}

.noten-character-sariel {
  color: #74c0fc;
}

/* Lavatera */

.noten-lavatera-outer {
  background-image: url('https://imgur.com/vXwJzCE.png');
  padding-top: 2em; 
  padding-bottom: 2em;
}

.noten-lavatera-title {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 2em
}

.noten-lavatera-inner {
  width: 50%;
  margin: 0 auto;
  background-image: url('https://imgur.com/ipfyCp9.png');
  border: 2px solid Indigo;
  color:black;
  padding: 1em 2em;
}

.noten-lavatera-dream {
  color: White;
  width: 50%;
  margin: 0 auto;
}

.noten-lavatera-speech {
  color: Indigo;
  text-shadow: 0px 0px 2px white;
}

/* Dandelion */

.noten-dandelion-outer {
  background-image: url('https://i.imgur.com/nZVCs3j.png');
  border-radius: 35px 20px;
  border: 1px solid PeachPuff;
  color: Black;
  padding: 2em;
}

.noten-dandelion-outer-glitchy {
  background-image: url('https://i.imgur.com/eYbTyK0.gif');
  border-radius: 35px 20px;
  border: 1px solid PeachPuff;
  color: Black;
  padding: 2em;
}

.noten-dandelion-inner {
  background-color: White;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border: 2px dashed PeachPuff; 
  border-radius: 2em;
}

.noten-dandelion-blocktext {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  padding: 1em; 
  width: 60%; 
  margin: 0 auto;
}

.noten-dandelion-title-outer {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
  line-height: 22px;
  font-size: 56px;
}

.noten-dandelion-title-inner {
  color: PeachPuff;
}

.noten-dandelion-subtitle {
  color: Black;
  font-size: 22px;
}

.noten-dandelion-speech {
  color: PeachPuff;
  text-shadow: -1px -1px 1px #000000, 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px 1px 1px #000000;
}

/* Freesia */

.noten-freesia-outer {
  background-image: url("https://i.imgur.com/XMEvgVD.png");
  padding-top: 2em;
  padding-bottom: 2em;
}

.noten-freesia-inner {
  font-family: "Kurale", serif;
  width: 50%;
  background: white;
  margin: 0 auto;
  color: black;
  padding: 1em;
  border: 2px solid #FFF5BE;
}

.noten-freesia-title {
  font-family: "Tangerine", handwriting;
  font-size: 38px;
  color: #653E7B;
}

.noten-freesia-speech {
  color: #653E7B;
}
